<h6>Номинация актеров</h6>
  <div class="row">
  <div class="input-field col s6">
    <input  id="actors_prize_title" type="text" class="validate" name="prize_actors_title" required>
    <label for="actors_prize_title">Название</label>
  </div>
</div> 
<div class="row">
  <div class="input-field col s6">
    <input  id="actors_prize_country" type="text" class="validate" name="prize_actors_country" required>
    <label for="actors_prize_country">Страна</label>
  </div>
</div> 
<div class="row">
  <div class="input-field col s6">
    <input  id="actors_prize_firstPresentation" type="date" class="validate" name="prize_actors_firstPresentation" required>
    <label for="actors_prize_firstPresentation">Первая презентация</label>
  </div>
</div> 

