<h6>Номинация Режиссеров</h6>
  <div class="row">
  <div class="input-field col s6">
    <input  id="prize_fillmakers_title" type="text" class="validate" name="prize_fillmakers_title" required>
    <label for="prize_fillmakers_title">Название</label>
  </div>
</div> 
<div class="row">
  <div class="input-field col s6">
    <input  id="prize_fillmakers_country" type="text" class="validate" name="prize_fillmakers_country" required>
    <label for="prize_fillmakers_country">Страна</label>
  </div>
</div> 
<div class="row">
  <div class="input-field col s6">
    <input  id="prize_fillmakers_firstPresentation" type="date" class="validate" name="prize_fillmakers_firstPresentation" required>
    <label for="prize_fillmakers_firstPresentation">Первая презентация</label>
  </div>
</div> 

