<h5>Режиссеры</h5>
<div class="row">
  <div class="input-field col s6">
    <input  id="fillmakers_name" type="text" class="validate" name="fillmakers_name" required>
    <label for="fillmakers_name">ФИО</label>
  </div>
</div> 
<div class="row">
  <div class="input-field col s6">
    <input  id="fillmakers_birthday" type="date" class="validate" name="fillmakers_birthday" required>
    <label for="fillmakers_birthday">Дата рождения</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input  id="fillmakers_genre" type="text" class="validate" name="fillmakers_genre" required>
    <label for="fillmakers_genre">Жанр</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input  id="fillmakers_country" type="text" class="validate" name="fillmakers_country" required>
    <label for="fillmakers_country">Страна</label>
  </div>
</div>
{{> fillmakers_prize}}
