
<h3>Номинация</h3>
  <div class="row">
  <div class="input-field col s6">
    <input  id="prize_serial_title" type="text" class="validate" name="prize_serial_title" required>
    <label for="prize_serial_title">Название</label>
  </div>
</div> 
<div class="row">
  <div class="input-field col s6">
    <input  id="prize_serial_country" type="text" class="validate" name="prize_serial_country" required>
    <label for="prize_serial_country">Страна</label>
  </div>
</div> 
<div class="row">
  <div class="input-field col s6">
    <input  id="prize_serial_firstPresentation" type="date" class="validate" name="prize_serial_firstPresentation" required>
    <label for="prize_serial_firstPresentation">Первая презентация</label>
  </div>
</div> 

