<div class="row">
  <div class="input-field col s6">
    <input  id="serial_name" type="text" class="validate" name="serial_title" required>
    <label for="serial_name">Название сериала</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input id="serial_raiting" type="number" class="validate" name="serial_raiting" min="0" max="10" required>
    <label for="serial_raiting">Рейтинг</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input  id="serial_trailer" type="url" class="validate" name="serial_trailer" required>
    <label for="serial_trailer">Трейлер</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input  id="serial_cover" type="text" class="validate" name="serial_cover" required>
    <label for="serial_cover">Прокат</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input  id="serial_lastTitle" type="text" class="validate" name="serial_lastTitle" required>
    <label for="serial_lastTitle">Доп. название</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input  id="serial_country" type="text" class="validate" name="serial_country" required>
    <label for="serial_country">Страна</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input  id="serial_startDate" type="date" class="validate" name="serial_startDate" required>
    <label for="serial_startDate">Дата начала съемок</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input  id="serial_releaseDate" type="date" class="validate" name="serial_releaseDate" required>
    <label for="serial_releaseDate">Дата релиза</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input  id="serial_genre" type="text" class="validate" name="serial_genre" required>
    <label for="serial_genre">Жанр</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input  id="serial_ageLimits" type="number" class="validate" name="serial_ageLimits" required min="0">
    <label for="serial_ageLimits">Ограничения по возрасту</label>
  </div>
</div>
{{> prize_serial}}