
<h3>Студия</h3>
<div class="row">
  <div class="input-field col s6">
    <input  id="studio_name" type="text" class="validate" name="studio_name" required>
    <label for="studio_name">Название студии</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input  id="studio_site" type="url" class="validate" name="studio_site" required>
    <label for="studio_site">Сайт</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input  id="studio_dateCreate" type="date" class="validate" name="studio_dateCreate" required>
    <label for="studio_dateCreate">Дата создания</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input  id="studio_country" type="text" class="validate" name="studio_country" required>
    <label for="studio_country">Страна</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input  id="studio_chief" type="text" class="validate" name="studio_chief" required>
    <label for="studio_chief">Директор</label>
  </div>
</div> 
