<h1>Создать сериал</h1>
<div class="row">
  <form class="col s12" action="/create" method="POST" id="create">
    {{> serial_create}}
    {{> studio}}
    {{> seassons}}
    <button class="btn waves-effect waves-light">Создать</button>
  </form>
</div>